[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".local/share/typeshed"]
	path = .local/share/typeshed
	url = https://github.com/python/typeshed
[submodule ".local/share/python-type-stubs"]
	path = .local/share/python-type-stubs
	url = https://github.com/microsoft/python-type-stubs
