[user]
	email = nir.tzachar@gmail.com
	name = Nir Tzachar
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	stp = stash pop
	ss = !"git stash; git submodule foreach 'git stash'"
	ssp = !"git stash pop; git submodule foreach 'git stash pop'"
	sws = switch staging
	swm = switch master
[core]
	editor = nvim
	pager = delta
[diff]
	tool = nvimdiff
	colorMoved = zebra
[difftool "nvimdiff"]
    cmd = nvim -c \"packadd nvim.difftool\" -c \"DiffTool $LOCAL $REMOTE\"
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[pager]
	status = true
[submodule]
	recurse = true
[pull]
	rebase = true
[fetch]
	prune = true
[merge]
	tool = nvim
	conflictStyle = diff3
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[mergetool "nvim"]
    cmd = nvim -f -c \"DiffviewOpen\"
[mergetool]
    prompt = false
[rebase]
	autoStash = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
