[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "/home/tzachar/.local/share/typeshed"]
	path = /home/tzachar/.local/share/typeshed
	url = git@github.com:python/typeshed.git
[submodule "/home/tzachar/.local/share/python-type-stubs"]
	path = /home/tzachar/.local/share/python-type-stubs
	url = git@github.com:microsoft/python-type-stubs.git
